In [0]:
# Utill fns for bigquery
from os import path

from google.cloud import bigquery
from google.oauth2 import service_account
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn import preprocessing
#from scipy.stats import shapiro
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.cluster.hierarchy import fcluster
from sklearn.cluster import AgglomerativeClustering
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
from google.cloud import bigquery
from google.oauth2 import service_account
import sys
from os import path

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id = 'nimble-valve-257105'

In [0]:
#import xrp_ml_utils.py
start_date='2020-01-15'
end_date='2020-01-16'

#cred_path='C:\\Users\\Francesco\\Desktop\\Projects\\Cal_Hacks\\prova.json'

In [0]:
#Query and query_parameters
query1 = """
Select 
  TIMESTAMP(l.CloseTime) as `TimeStamp`,
  t.Account,t.Destination,t.Fee,t.TxnSignature,t.AmountXRP,t.LedgerIndex,t.TransactionType
FROM
  `xrpledgerdata.fullhistory.transactions`t
JOIN
  `xrpledgerdata.fullhistory.ledgers` l
  on t.LedgerIndex=l.LedgerIndex
where t.TransactionResult = "tesSUCCESS"

AND TIMESTAMP(l.CloseTime) >=TIMESTAMP(@start_date)
AND TIMESTAMP(l.CloseTime) <=TIMESTAMP(@end_date)


ORDER BY TimeStamp

LIMIT 10000000

"""
query_params1 = [
    bigquery.ScalarQueryParameter("start_date", "STRING", start_date),
    bigquery.ScalarQueryParameter("end_date", "STRING", end_date)
]

In [0]:
from google.colab import auth
auth.authenticate_user()
client = bigquery.Client(project=project_id)
#client = bigquery.Client()
client

job_config = bigquery.QueryJobConfig()
job_config.query_parameters = query_params1

In [0]:
a = client.query(query1, job_config=job_config).to_dataframe()

In [76]:
a[1:50]

                   TimeStamp  ... TransactionType
1  2020-01-15 00:00:00+00:00  ...     OfferCreate
2  2020-01-15 00:00:00+00:00  ...     OfferCreate
3  2020-01-15 00:00:00+00:00  ...     OfferCreate
4  2020-01-15 00:00:00+00:00  ...     OfferCreate
5  2020-01-15 00:00:00+00:00  ...     OfferCreate
6  2020-01-15 00:00:00+00:00  ...     OfferCreate
7  2020-01-15 00:00:00+00:00  ...     OfferCreate
8  2020-01-15 00:00:00+00:00  ...         Payment
9  2020-01-15 00:00:00+00:00  ...     OfferCreate
10 2020-01-15 00:00:00+00:00  ...     OfferCreate
11 2020-01-15 00:00:00+00:00  ...     OfferCreate
12 2020-01-15 00:00:00+00:00  ...     OfferCreate
13 2020-01-15 00:00:00+00:00  ...         Payment
14 2020-01-15 00:00:00+00:00  ...     OfferCreate
15 2020-01-15 00:00:00+00:00  ...     OfferCreate
16 2020-01-15 00:00:00+00:00  ...     OfferCreate
17 2020-01-15 00:00:00+00:00  ...     OfferCreate
18 2020-01-15 00:00:00+00:00  ...     OfferCreate
19 2020-01-15 00:00:00+00:00  ...     OfferCreate
20 2020-01-15 00:00:00+00:00  ...     OfferCreate
21 2020-01-15 00:00:00+00:00  ...     OfferCreate
22 2020-01-15 00:00:00+00:00  ...     OfferCancel
23 2020-01-15 00:00:00+00:00  ...     OfferCreate
24 2020-01-15 00:00:00+00:00  ...     OfferCreate
25 2020-01-15 00:00:00+00:00  ...     OfferCreate
26 2020-01-15 00:00:00+00:00  ...     OfferCreate
27 2020-01-15 00:00:00+00:00  ...     OfferCreate
28 2020-01-15 00:00:00+00:00  ...     OfferCancel
29 2020-01-15 00:00:00+00:00  ...     OfferCreate
30 2020-01-15 00:00:00+00:00  ...     OfferCreate
31 2020-01-15 00:00:00+00:00  ...     OfferCreate
32 2020-01-15 00:00:00+00:00  ...         Payment
33 2020-01-15 00:00:00+00:00  ...     OfferCreate
34 2020-01-15 00:00:00+00:00  ...     OfferCreate
35 2020-01-15 00:00:00+00:00  ...     OfferCreate
36 2020-01-15 00:00:00+00:00  ...     OfferCreate
37 2020-01-15 00:00:00+00:00  ...     OfferCreate
38 2020-01-15 00:00:00+00:00  ...     OfferCreate
39 2020-01-15 00:00:00+00:00  ...     OfferCreate
40 2020-01-15 00:00:00+00:00  ...     OfferCreate
41 2020-01-15 00:00:01+00:00  ...         Payment
42 2020-01-15 00:00:01+00:00  ...     OfferCreate
43 2020-01-15 00:00:01+00:00  ...         Payment
44 2020-01-15 00:00:01+00:00  ...     OfferCreate
45 2020-01-15 00:00:01+00:00  ...         Payment
46 2020-01-15 00:00:01+00:00  ...     OfferCreate
47 2020-01-15 00:00:01+00:00  ...         Payment
48 2020-01-15 00:00:01+00:00  ...     OfferCancel
49 2020-01-15 00:00:01+00:00  ...     OfferCreate

[49 rows x 8 columns]

In [61]:
a['TransactionType'].value_counts()

OfferCreate      694839
Payment           77610
OfferCancel       35869
AccountSet          616
TrustSet             74
SignerListSet         3
EscrowFinish          1
Name: TransactionType, dtype: int64

In [62]:
a.isnull().sum()

TimeStamp               0
Account                 0
Destination        731402
Fee                     0
TxnSignature         2732
AmountXRP          760543
LedgerIndex             0
TransactionType         0
dtype: int64

In [0]:
a[1:50]

In [75]:
a.groupby(['LedgerIndex']).count()

             TimeStamp  Account  ...  AmountXRP  TransactionType
LedgerIndex                      ...
52743117            41       41  ...          3               41
52743118            57       57  ...          2               57
52743119            42       42  ...          1               42
52743120            47       47  ...          2               47
52743121            60       60  ...          5               60
...                ...      ...  ...        ...              ...
52765287            40       40  ...          1               40
52765288            33       33  ...          3               33
52765289            44       44  ...          0               44
52765290            32       32  ...          2               32
52765291            49       49  ...          1               49

[22175 rows x 7 columns]

In [0]:
a.groupby(['LedgerIndex']).count()

I'm now starting to use Ravi's function to call different queries

In [0]:
def gbq_query(query, query_params=None):
    """
    Run a query against Google Big Query, returning a pandas dataframe of the result.

    Parameters
    ----------
    query: str
        The query string
    cred: obj
        Credential class instance
    
    query_params: list, optional
        The query parameters to pass into the query string
    """
    client = bigquery.Client(project=project_id)
    job_config = bigquery.QueryJobConfig()
    job_config.query_parameters = query_params
    return client.query(query, job_config=job_config).to_dataframe()

In [0]:
#Query and query_parameters
query2 = """
Select 
  TIMESTAMP(l.CloseTime) as `TimeStamp`,
  t.Account,t.Destination,t.Fee,t.TxnSignature,t.AmountXRP,t.LedgerIndex,t.TransactionType
FROM
  `xrpledgerdata.fullhistory.transactions`t
JOIN
  `xrpledgerdata.fullhistory.ledgers` l
  on t.LedgerIndex=l.LedgerIndex
where t.TransactionResult = "tesSUCCESS"
AND TxnSignature IS NOT NULL
AND Destination IS NOT NULL
AND AmountXRP  IS NOT NULL
AND TIMESTAMP(l.CloseTime) >=TIMESTAMP(@start_date)
AND TIMESTAMP(l.CloseTime) <=TIMESTAMP(@end_date)


ORDER BY TimeStamp

LIMIT 10000000

"""
query_params2 = [
    bigquery.ScalarQueryParameter("start_date", "STRING", start_date),
    bigquery.ScalarQueryParameter("end_date", "STRING", end_date)
]

In [0]:
b = gbq_query(query2,query_params1)

In [50]:
b

                      TimeStamp  ... TransactionType
0     2020-01-15 00:00:00+00:00  ...         Payment
1     2020-01-15 00:00:00+00:00  ...         Payment
2     2020-01-15 00:00:00+00:00  ...         Payment
3     2020-01-15 00:00:01+00:00  ...         Payment
4     2020-01-15 00:00:01+00:00  ...         Payment
...                         ...  ...             ...
45732 2020-01-15 23:59:42+00:00  ...         Payment
45733 2020-01-15 23:59:42+00:00  ...         Payment
45734 2020-01-15 23:59:51+00:00  ...         Payment
45735 2020-01-15 23:59:51+00:00  ...         Payment
45736 2020-01-16 00:00:00+00:00  ...         Payment

[45737 rows x 8 columns]

In [51]:
b['TransactionType'].value_counts()

Payment    45737
Name: TransactionType, dtype: int64